<%= form_for(snippet) do |f| %>
  <% snippet.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :title, prompt: 'Choose a category' %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, cols: 30 %>
  </div>

  <div>
    <%= f.label :code %>
    <%= f.text_area :code, cols: 30, rows: 10 %>
  </div>

  <%= f.submit %>
<% end %>