<% short = local_assigns.fetch(:short, false) %>

<div>
  <h2><%= link_to snippet.title, snippet %></h2>
  <h3>
    <%= short ? '' : 'Category: ' %>
    <%= link_to snippet.category.try(:title), snippet.category %>
  </h3>
  <% unless short %>
    <%= simple_format snippet.description %>
    <h3>Code:</h3>
  <% end %>
  <pre><code><%= snippet.code %></code></pre>
  <% if short %>
    <%= link_to 'Edit', edit_snippet_path(snippet) %>
  <% end %>
</div>