<!DOCTYPE html>
<html>
  <head>
    <title>Snippy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/monokai-sublime.min.css' %>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
